
{% extends '../layouts/layout.twig' %}

{% block title %}Cong Component{% endblock %}

{% block page_heading %}Cong Component{% endblock %}

{% block content %}
  {% include '../components/filter.twig' %}
  <div class="container">
    {% include '../components/news.twig' %}
  </div>
  {% include '../components/banner.twig' %}
  <div class="container">
    {% include '../components/profile.twig' %}
  </div>
  {% include '../components/grid-content.twig' %}
{% endblock %}

{% block footer_scripts %}
  {{ parent() }}
{% endblock %}

{% block content_sidebar %}{% endblock %}
