
{% extends '../layouts/layout.twig' %}

{% block title %}Cong Component{% endblock %}

{% block page_heading %}Cong Component{% endblock %}

{% block content %}
	<div class="container">
  	{% include '../components/news.twig' %}
  </div>
  {% include '../components/banner.twig' %}
  {% include '../components/grid-content.twig' %}
{% endblock %}

{% block footer_scripts %}
  {{ parent() }}
{% endblock %}

{% block content_sidebar %}{% endblock %}
