
{% extends '../layouts/layout.twig' %}

{% block title %}How to Vote{% endblock %}

{% block page_heading %}How to Vote{% endblock %}

{% block feature %}
  <div class="feature">
  {% for post in posts %}
      <div class="page__title__wrap clearfix">
        <div class="page__title__image" style="background-image: url({{ post.thumbnail }})"> </div>
        <div class="page__title__container container">
        <h1 class="page__title">How to Vote</h1>
        </div>
      </div>
  {% endfor %}
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Valued stockholders,</h2>
    <p>By now you may have received proxy materials from Sessa Capital (“Sessa”) seeking your vote for the election of five of Sessa’s hand-picked representatives to Ashford Prime’s Board of Directors at the Company’s 2016 Annual Meeting of Stockholders. <b>Sessa’s actions are subject to ongoing litigation as the Company believes that their proxy is based on false claims as well as material misrepresentations.</b></p>
    <p><b>The Ashford Prime Board of Directors strongly urges you NOT to vote on the WHITE proxy card sent to you by Sessa, and to wait for the Company’s proxy materials which we will be sending to you once the annual shareholder’s meeting has been scheduled. The course of action Sessa is proposing would result in a contractual obligation for the Company to render a significant termination payment to our advisor, which we estimate to be hundreds of millions of dollars relative to our current fully diluted market capitalization of approximately $340 million as of the market close on March 8, 2016, thus representing material erosion to shareholder value.</b></p>
    <p><b>Please discard any proxy materials you receive from Sessa.</b> We urge you NOT to vote any proxy card sent to you by Sessa and to wait for the Company’s proxy materials so that you can make a fully informed decision.</p>
    <p style="text-transform: uppercase">YOUR BOARD IS COMMITTED TO MAXIMIZING VALUE FOR ALL SHAREHOLDERS</p>

    <p>Ashford Prime and the Company’s Board are firmly committed to maximizing stockholder value, thoughtfully and rigorously exploring all options and efficiently executing the outcome that is in your best interests. With the support of independent legal and financial advisors, the Company is currently conducting a thorough review of strategic alternatives, potentially including a sale of the Company. Sessa’s allegations that Ashford Prime is “stalling” and not making progress with respect to this review are factually incorrect and baseless.</p>
 
    <p>We believe that Sessa is attempting to seize control of the Ashford Prime Board in order to force a quick sale of the Company. In addition, Sessa is pursuing a distracting and potentially extremely expensive proxy fight and litigation strategy that the Company believes is based on false claims, material misrepresentations and omissions intended to mislead our stockholders.</p>

    <p>The Company has filed a lawsuit in the United States District Court for the Northern District of Texas against Sessa and its proposed director nominees seeking an injunction to prevent Sessa from proceeding with its proxy contest to seize control of the Ashford Prime Board. Ashford Prime brought this lawsuit in order to protect its stockholders from having to vote on Sessa’s slate with incomplete and materially misleading information about who Sessa’s nominees are and what they plan to do should they obtain control of Ashford Prime’s Board.</p>
     
    <p>Our Board, comprised of seven highly-qualified and engaged directors, including five independent directors, has been and remains fully committed to ensuring that the Company pursues the path that will maximize value for all stockholders.</p>
     
    <p><b>Take No Action</b></p>
     
    <p>Ashford Prime has retained Cadwalader Wickersham & Taft LLP as legal counsel. Moelis & Company is acting as financial advisor to Ashford Prime in connection with Sessa’s proxy contest and Deutsche Bank Securities Inc. is acting as independent financial advisor in connection with the Company’s strategic review process. The Ashford Prime Board unanimously, and without reservation, recommends that stockholders take no action in response to Sessa’s proxy materials.</p>
     
    <p>Soon you will be receiving the Company’s proxy materials and proxy card. <b>We urge you NOT to vote any proxy card sent to you by Sessa and to wait for the Company’s proxy materials so that you can make a fully informed decision.</b></p>

    <p>Sincerely,<br/>
    <i>Monty J. Bennett</i><br/>
    <i>Chairman & CEO</i></p>
  </div>
{% endblock %}

{% block footer_scripts %}
  {{ parent() }}
{% endblock %}

{% block content_sidebar %}{% endblock %}
