
{% extends '../layouts/layout.twig' %}

{% block title %}Thanh Component{% endblock %}

{% block page_heading %}Thanh Component{% endblock %}

{% block content %}
  <div class="container">
    {% include '../components/accordion.twig' %}
    {% include '../components/accordion.twig' %}
  </div>
{% endblock %}

{% block footer_scripts %}
  {{ parent() }}
{% endblock %}

{% block content_sidebar %}{% endblock %}
