
{% extends '../layouts/layout.twig' %}

{% block title %}Thanh Component{% endblock %}

{% block page_heading %}Thanh Component{% endblock %}

{% block content %}
<<<<<<< HEAD
  {% include '../components/banner.twig' %}
=======
  <div class="container">
    {% include '../components/accordion.twig' %}
    {% include '../components/accordion.twig' %}
  </div>
>>>>>>> EDAF-11 : Add style + js for accordion component
{% endblock %}

{% block footer_scripts %}
  {{ parent() }}
{% endblock %}

{% block content_sidebar %}{% endblock %}
