{% block footer %}
<footer id="footer" class="footer">
  <div class="footer-container container">
    <div class="site-info">© Copyright 2016</div>
    <div class="footer-menu">
      <ul id="footer-menu" class="menu">
        <li class="menu-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-20 ">
      <a href="http://ashford.local/privacy-policy/">Privacy Policy</a>
      </li>
        <li class="menu-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-16 ">
      <a href="http://ashford.local/contact-us/">Contact</a>
      </li>
        <li class="menu-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-10 ">
      <a href="http://ashford.local/disclaimer/">Disclaimer</a>
      </li>
    </ul>
    </div>
  </div>
</footer>
{% endblock %}
