{% block navigation %}
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="fa fa-bars">Toggle navigation</span>
  </button>
    <div class="branding-bottom clearfix">
      <nav id="site-navigation" class="main-navigation" role="navigation">
        <div class="menu-main-navigation-container">
          <ul id="primary-menu" class="menu">
          {% for nav in prototype_nav|slice(3,10) %}
            <li class="menu-item"><a href="{{ nav.link }}">{{ nav.name }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </nav><!-- #nav -->
      <!-- <a class="button button--radius get-update" href="#updates">Get updates</a> -->
    </div>
{% endblock %}
