// Color
$blue: #3788d4;
$red: #d44837;
$blue-dark: #054d7a;
$blue-light: #75b2c7;

// Gray color variable
$gray-d5: #d5d5d5;
$gray-f5: #f5f6f7;
$gray-e8: #e8eaeb;
$gray-38: #383c40;
$gray-f3: #f3f6f7;
$white: #fff;
$dark: #000;
$gray: #808080;
$silver: #ccc;

// Color Variable
$prymary-color: $blue;
$secondary-color: $blue-dark;

$bg-page: $gray-f5;
$bd-color: $gray-e8;
$bd-form-color: $gray-d5;
$bg-menu-respon: $prymary-color;
$bg-text: $gray-f3;

$link-color: $prymary-color;
$link-hover: darken($prymary-color, 15%);
$text-main-color: $gray-38;
$title-color: $blue-dark;
