// Filter styling.
$color-bg-filter-active: #2b6187;
$color-border-filter-leader: rgba($white, .1);

.filter {
  background-color: $blue;
  margin-bottom: rem(37px);
  padding: 0;

  @include breakpoint($desktop) {
    padding-bottom: rem(15px);
    padding-top: rem(15px);
  }

  .container {
    @include susy-media(max-width $desktop) {
      margin: 0;
    }
  }

  &--open {
    .filter {
      &__item {
        display: block;

        @include breakpoint($desktop) {
          display: inline-block;
        }
      }
    }
  }

  &__link {
    background-color: transparent;
    border: 0;
    text-align: left;
    width: 100%;
    color: $white;
    padding: rem(8px 23px);
    display: block;

    @include breakpoint($desktop) {
      font-size: rem(16px);
      width: auto;
    }

    &.selected,
    &:hover {
      @include border-radius(0);
      background-color: transparent;
      color: $white;

      @include breakpoint($desktop) {
        @include border-radius(20px);
        background-color: $color-bg-filter-active;
      }
    }
  }

  &__item {
    display: none;
    margin-bottom: 0;
    width: 100%;

    @include breakpoint($desktop) {
      display: inline-block;
      width: auto;
    }
  }

  &__title-bar {
    color: $white;
    display: block;
    font-size: rem(14px);
    font-weight: 700;
    padding: rem(8px 23px);
    position: relative;
    text-transform: uppercase;
    width: 100%;

    @include breakpoint($desktop) {
      border: 0;
      display: none;
      height: 0;
      margin: 0;
      padding: 0;
    }

    &:visited,
    &:hover {
      color: $white;
    }

    i {
      margin-top: rem(-12px);
      position: absolute;
      left: rem(23px);
      top: 57%;
      width: rem(16px);
      height: rem(16px);

      &:before {
        font-size: rem(16px);
        border-bottom: .125rem solid #fff;
        top: rem(7px);
      }
      &:after {
        border-left: .125rem solid #fff;
        left: rem(7px);
      }
    }
  }

  &--leader {
    @include breakpoint($desktop) {
      padding: 0;
    }

    .filter {
      &__link {
        @include breakpoint($desktop) {
          display: inline-block;
          padding: rem(0 31px 0 28px);
        }

        &.selected,
        &:hover {
          @include breakpoint($desktop) {
            @include border-radius(0);
            background-color: transparent;
          }
        }

        &:hover {
          @include breakpoint($desktop) {
            text-decoration: underline;
          }
        }
      }

      &__item {
        @include breakpoint($desktop) {
          margin-left: -3px;
          margin-right: -3px;
          padding: rem(19px 0 24px);
          width: 50%;

          &:first-of-type {
            border-right: 1px solid $color-border-filter-leader;
            text-align: right;
          }
        }
      }
    }
  }

  &--link {
    @include breakpoint($desktop) {
      padding: 0;
    }

    &__target {
      @include breakpoint($desktop) {
        display: inline-block;
        padding: rem(0 31px 0 28px);
      }

      &.selected,
      &:hover {
        @include breakpoint($desktop) {
          @include border-radius(0);
          background-color: transparent;
        }
      }

      &:hover {
        @include breakpoint($desktop) {
          text-decoration: underline;
        }
      }
    }

    &__item {
      display: none;

      @include breakpoint($desktop) {
        display: inline-block !important;
        margin-left: -3px;
        margin-right: -3px;
        padding: rem(19px 0 24px);
        width: 50%;

        &:first-of-type {
          border-right: 1px solid $color-border-filter-leader;
          text-align: right;
        }
      }
    }

    &.filter--open {
      .filter--link__item {
        display: block;
      }
    }
  }
}

.filtered-preview {
  &.hide {
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: none !important;
    padding: 0;
  }

  &.show {
    height: inherit;
    opacity: 1;
    visibility: visible;
  }
}
