// Filter styling.
$color-bg-filter-active: #2b6187;
$color-border-filter-leader: rgba($white, .1);

.filter {
  background-color: $blue;
  margin-bottom: rem(37px);
  padding: 0;

  @include breakpoint($desktop) {
    padding-bottom: rem(15px);
    padding-top: rem(15px);
  }

  .container {
    @include susy-media(max-width $desktop) {
      margin: 0;
    }
  }

  &--open {
    .filter {
      &__item {
        display: block;

        @include breakpoint($desktop) {
          display: inline-block;
        }
      }
    }
  }

  &__link {
    background-color: transparent;
    border: 0;
    text-align: left;
    width: 100%;
    color: $white;
    padding: rem(8px 23px);
    display: block;

    @include breakpoint($desktop) {
      font-size: rem(16px);
      width: auto;
    }

    &.selected,
    &:hover {
      @include border-radius(0);
      background-color: transparent;
      color: $white;

      @include breakpoint($desktop) {
        @include border-radius(20px);
        background-color: $color-bg-filter-active;
      }
    }
  }

  &__item {
    display: none;
    margin-bottom: 0;
    width: 100%;

    @include breakpoint($desktop) {
      display: inline-block;
      width: auto;

      &:first-of-type {
        margin-left: rem(80px);
      }
    }
  }

  &__title-bar {
    color: $white;
    display: block;
    font-size: rem(14px);
    font-weight: 700;
    padding: rem(15px 23px);
    position: relative;
    text-transform: uppercase;
    width: 100%;

    @include breakpoint($desktop) {
      display: none;
    }

    &:visited,
    &:hover {
      color: $white;
    }

    i {
      margin-top: rem(-12px);
      position: absolute;
      right: rem(33px);
      top: 50%;

      &:before {
        font-size: rem(16px);
      }
    }
  }

  &--leader {
    @include breakpoint($desktop) {
      padding: 0;
    }

    .filter {
      &__link {
        @include breakpoint($desktop) {
          display: inline-block;
          padding: rem(0 31px 0 28px);
        }

        &.selected,
        &:hover {
          @include breakpoint($desktop) {
            @include border-radius(0);
            background-color: transparent;
          }
        }

        &:hover {
          @include breakpoint($desktop) {
            text-decoration: underline;
          }
        }
      }

      &__item {
        @include breakpoint($desktop) {
          margin-left: -3px;
          margin-right: -3px;
          padding: rem(19px 0 24px);
          width: 50%;

          &:first-of-type {
            border-right: 1px solid $color-border-filter-leader;
            text-align: right;
          }
        }
      }
    }
  }
}
