// Filter styling.
$color-bg-filter-active: #2b6187;

.filter {
  background-color: $blue;
  margin-bottom: rem(37px);
  padding-bottom: rem(15px);
  padding-top: rem(15px);

  &--open {
    .filter {
      &__item {
        display: block;

        @include breakpoint($desktop) {
          display: inline-block;
        }
      }
    }
  }

  &__link {
    background-color: transparent;
    border-color: transparent $silver $silver;
    border-style: solid;
    border-width: 1px 0;
    text-align: left;
    width: 100%;
    color: $white;
    padding: rem(8px 23px);
    display: block;

    @include breakpoint($desktop) {
      font-size: rem(16px);
      width: auto;
      border: 0;
    }

    &.selected,
    &:hover {
      @include border-radius(0);
      background-color: $color-bg-filter-active;
      color: $white;

      @include breakpoint($desktop) {
        @include border-radius(20px);
        background-color: $color-bg-filter-active;
      }
    }
  }

  &__item {
    display: none;
    margin-bottom: 0;
    width: 100%;

    @include breakpoint($desktop) {
      display: inline-block;
      width: auto;

      &:first-of-type {
        margin-left: rem(80px);
      }
    }
  }

  &__title-bar {
    font-size: rem(14px);
    display: block;
    font-weight: 700;
    padding: rem(15px 20px);
    position: relative;
    text-transform: uppercase;
    width: 100%;

    @include breakpoint($desktop) {
      display: none;
    }

    &:visited {
      color: $white;
    }

    i {
      margin-top: -12px;
      position: absolute;
      right: rem(33px);
      top: 50%;

      &:before {
        font-size: rem(16px);
      }
    }
  }
}
