.get-updates {
  background-color: $white;
  padding-bottom: rem(19px);
  padding-top: rem(38px);

  @include breakpoint(desktop) {
    padding-bottom: rem(9px);
  }

  .form {
    &__title {
      font-size: rem(30px);
      letter-spacing: rem(2px);
      text-align: center;
      text-transform: uppercase;

      @include breakpoint(tablet) {
        font-size: rem(40px);
      }

      @include breakpoint(desktop) {
        font-size: rem(44px);
        margin-bottom: rem(26px);
      }
    }

    &__description {
      line-height: rem(30px);
      margin-bottom: rem(49px);
      padding: 0 7.3%;
      text-align: center;
    }

    &__fields {
      padding-left: rem(8px);
    }
  }

  &-form {
    padding-bottom: rem(110px);
    position: relative;

    .nf-hp {
      height: 0;
      position: absolute;
      right: -9999px;
      visibility: hidden;
    }

    > .nf-fields {
      margin: 0;
      max-width: 100%;
      padding: 0;
    }

    @include breakpoint(desktop) {
      padding-bottom: rem(10px);
      padding-right: rem(92px);
    }

    nf-fields-wrap {
      > div {
        display: block;
        line-height: 0;
        margin-bottom: rem(40px);
        position: relative;
        width: 100%;

        &:last-of-type {
          position: static;
        }

        > .nf-field {
          padding: 0;
        }

        .nf-error-wrap {
          @include transition(all 0.5s);
          line-height: $base-line-height;
          opacity: 0;
          position: absolute;
          top: 80%;
          z-index: 9;
        }

        .field-wrap.nf-error {
          .nf-error-wrap {
            opacity: 1;
            top: 100%;
          }
        }

        @include breakpoint(tablet) {

        }

        @include breakpoint(desktop) {
          display: inline-block;
          margin-bottom: rem(10px);
          margin-left: rem(21px);
          width: rem(349px);

          &:first-of-type {
            margin-left: 0;
          }

          .field-wrap.nf-error {
            .nf-error-wrap {
              top: 85%;
            }
          }
        }
      }
    }

    .field-wrap  {
      input[type*="email"],
      input[type*="text"] {
        background-color: $bg-page;
        border-color: $bd-form-color;
        border-style: solid;
        border-width: 0 0 1px 0;
        color: $text-main-color;
        font-size: rem(14px);
        font-weight: 700;
        line-height: $base-line-height;
        padding: rem(26px 19px 23px);
        text-transform: uppercase;
      }
    }

    .form {
      &__submit {
        &:before {
          background-color: $prymary-color;
          color: $white;
          content: "\f00c";
          font-family: 'fontawesome';
          line-height: rem(70px);
          text-align: center;
        }

        input[type*="button"] {
          @extend .button;
          @include border-radius(0);
          background-color: transparent;
          border: none;
          padding: 0;
        }

        &:before,
        input[type*="button"] {
          height: rem(70px);
          position: absolute;
          left: 0;
          bottom: rem(40px);
          width: 100%;
        }

        @include breakpoint(desktop) {
          &:before,
          input[type*="button"] {
            left: auto;
            margin-right: rem(12px);
            right: 0;
            top: 0;
            bottom: auto;
            width: rem(80px);
          }
        }

        .nf-field-submit-error {
          bottom: 0;
          left: 0;
          line-height: $base-line-height;
          position: absolute;
          right: 0;
          text-align: center;
        }
      }
    }
  }
}
