.page {
  &__title {
    @include cinzel();
    color: #fff;
    font-size: rem(50px);
    margin: rem(30px 0);

    @include breakpoint(tablet) {
      font-size: rem(100px);
      margin: rem(51px 0 49px);
    }

    &__wrap {
      background-color: $secondary-color;
      position: relative;
      text-align: center;

      @include breakpoint(desktop) {
        min-height: rem(250px);
      }
    }

    &__image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: rem(-489px -441px);
      background: $blue-dark;
      display: block;
      height: 100%;
      opacity: 0.2;
      position: absolute;
      width: 100%;
      z-index: 1;

      @include breakpoint(desktop) {
        background-position: rem(-414px -391px);
      }
    }
  }

  &__content {
    &__container {
      border-bottom: 1px solid #dcdfe0;
      padding-bottom: rem(86px);

      p:first-child {
        margin-top: rem(48px);
      }
    }
  }
}

.post-type-page {
  background: #fff;
}
