{% block banner %}
  <div class="banner">
    <div class="banner__image" style="background-image: url('images/header.png');"></div>
    <div class="banner-container container">
        <div class="banner__content">
            <h1 class="banner__heading title-big">leadership you can rely on</h1>
            <h2 class="banner__subheading">experience you can trust</h2>
        </div>
    </div>
  </div>
{% endblock %}
