{% block contact %}
  <div class="contact">
    <div class="contact__description">
      <p>Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>

    <div class="contact-has-border clearfix">
      <div class="contact__title">
        <h3>For Media Inquiries</h3>
      </div>

      <Label>Edelman</Label>
      <div class="contact-grid">
        <p>Mike Geller</p>
        <p>+1 (212) 729-2163</p>
        <p>Email: <a href="">ashford@edelman.com</a></p>
      </div>

      <div class="contact-grid">
        <p>Trevor Gibbons</p>
        <p>+1 (212) 729-2163</p>
        <p>Email: <a href="">ashford@edelman.com</a></p>
      </div>
    </div>

    <div class="contact-has-border clearfix">
      <div class="contact__title">
        <h3>For Media Inquiries</h3>
      </div>

      <Label>Investor Relations</Label>
      <div class="contact__infomation">
        <p>Phone: 972-778-9487</p>
        <p>Email: <a href="">info@ashfordinc.com</a></p>
      </div>
      <div class="clearfix">
	      <div class="contact-grid">
	        <p>Jordan Jennings</p>
	        <p>Investor Relations</p>
	        <p>Phone: (972) 778-9487</p>
	      </div>

	      <div class="contact-grid">
	        <p>Stacy Feit</p>
	        <p>Investor Relations</p>
	        <p>Phone: (972) 778-9487</p>
	      </div>
	    </div>
    </div>

    <div class="">
      <div class="contact__title">
        <h3>For Proxy Voting Matters</h3>
      </div>

      <Label>MacKenzie Partners, Inc.</Label>
      <div class="contact__infomation">
        <p>Phone: 1-800-322-2885  or 212-929-5500</p>
        <p>Email: <a href="">proxy@MacKenziepartners.com</a></p>
      </div>
    </div>
  </div>
{% endblock %}
