{% block blockfilter %}
<div class="filter">
  <div class="container">
    <a class="filter__title-bar" href="#">Filter by category</a>
    <div class="filter__item all">
      <a href="#" class="filter__link all selected" data-category-id="all">All</a>
    </div>
    <div class="filter__item">
      <a href="#" class="filter__link" data-category-id="1">What Happened</a>
    </div>
    <div class="filter__item">
      <a href="#" class="filter__link" data-category-id="2">Cars Affected</a>
    </div>
    <div class="filter__item">
      <a href="#" class="filter__link" data-category-id="3">Safety &#38; Environment</a>
    </div>
    <div class="filter__item">
      <a href="#" class="filter__link" data-category-id="4">Getting It Fixed</a>
    </div>
    <div class="filter__item">
      <a href="#" class="filter__link" data-category-id="5">TDI Goodwill Package</a>
    </div>
  </div>
</div>
{% endblock %}
