{% block filterlink %}
<div class="filter filter--link">
  <div class="container">
    <a class="filter__title-bar" href="#">Filter by position</a>
    <div class="filter--link__item">
      <a href="#ashford" class="filter__link filter--link__target" data-category-id="1">About Ashford</a>
    </div>
    <div class="filter--link__item">
      <a href="#sessa" class="filter__link filter--link__target" data-category-id="2">About Sessa</a>
    </div>
  </div>
</div>
{% endblock %}
