{% block filterleader %}
<div class="filter filter--leader">
  <div class="container">
    <a class="filter__title-bar" href="#">Filter by position</a>
    <div class="filter__item">
      <a href="#" class="filter__link selected" data-category-id="management">Management</a>
    </div>
    <div class="filter__item">
      <a href="#" class="filter__link" data-category-id="director">Board of Directors</a>
    </div>
  </div>
</div>
{% endblock %}
