{% block form %}
  <div class="get-updates" id="updates">
      <div class="get-updates__container container">
          <h2 class="form__title title-big">Get Updates</h2>
          <div class="form__description"><p>Enter your email address to receive the latest facts, updates and materials from Ashford Hospitality Prime. You can unsubscribe at any time.</p></div>
          <div class="form__fields">
            <div id="nf-form-14-cont">
              <span class="nf-form-title">
                <h3></h3>
              </span>
              <div class="nf-form-wrap ninja-forms-form-wrap">
                <div class="nf-form-layout">
                  <div class="get-updates-form">
                    <div class="nf-fields ">
                      <nf-fields-wrap>
                        <div>
                          <div class="nf-field">
                            <div id="nf-field-984-wrap" class="field-wrap firstname-wrap label-hidden form__first-name" data-field-id="984">
                              <input id="nf-field-984" name="nf-field-984" class="ninja-forms-field nf-element" type="text" value="" placeholder="First Name">
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="nf-field">
                            <div id="nf-field-985-wrap" class="field-wrap lastname-wrap label-hidden form__last-name" data-field-id="985">
                              <input id="nf-field-985" name="nf-field-985" class="ninja-forms-field nf-element" type="text" value="" placeholder="Last Name">
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="nf-field">
                            <div id="nf-field-986-wrap" class="field-wrap email-wrap label-hidden form__email" data-field-id="986">
                              <input id="nf-field-986" name="nf-field-986" class="ninja-forms-field nf-element" type="email" value="" placeholder="Email Address">
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="nf-field">
                            <div id="nf-field-989-wrap" class="field-wrap submit-wrap label- form__submit" data-field-id="989">
                              <input id="nf-field-989" class="nf-element " type="button" value="">
                            </div>
                          </div>
                        </div>
                      </nf-fields-wrap>
                    </div>
                    <span class="nf-hp">
                      <label for="nf-field-hp-14">
                        If you are a human seeing this field, please leave it empty.
                        <input id="nf-field-hp-14" name="nf-field-hp" class="nf-element nf-field-hp" type="text" value="">
                      </label>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
{% endblock %}
