{% block grid_content %}
  <div class="box-grid">
    <div class="message">
      <div class="box-grid__content box-grid--width">
        <div class="box-grid__title">
          <h2>leadership’s message</h2>
        </div>
        <div class="box-grid__body">
          <p>Our strategy is to invest primarily in full-service and urban select-service hotels which are anticipated to generate RevPAR of at least twice the then current U.S. average RevPAR. In addition, we may invest in upper upscale and luxury hotels situated in resort markets when those hotels meet our stated RevPAR criteria. We will seek to acquire both premium branded and independent hotels.</p>
        </div>
        <div class="box-grid__more">
          <a href="" class="button button--radius">explore more</a>
        </div>
      </div>
    </div>

    <div class="resources">
      <div class="box-grid__content box-grid--width">
        <div class="box-grid__title">
          <h2>resources</h2>
        </div>
        <div class="box-grid__body">
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
        <ul class="list-icon">
          <li><a href="#">Vestibulum id ligula porta felis euismod semper</a></li>
          <li><a href="#">Vestibulum id ligula porta felis euismod semper</a></li>
          <li><a href="#">Vestibulum id ligula porta felis euismod semper</a></li>
          <li><a href="#">Vestibulum id ligula porta felis euismod semper</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
